/*
Design Specs
Size:
  375px
  1440px
Color:
  Very Dark Magenta: hsl(300, 43%, 22%)
  Soft Pink: hsl(333, 80%, 67%)
  Dark Grayish Magenta: hsl(303, 10%, 53%)
  Light Grayish Magenta: hsl(300, 24%, 96%)
  White: hsl(0, 0%, 100%)
Typography:
  font-family: 'Spartan', sans-serif;
  font-weight: 400, 500, 700;
  1rem = 15px;
*/


/* Structural CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
/* Typography CSS */
h2 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;

  text-transform: capitalize;
}

h4+h4 {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

div.intro,
div.rating {
  text-align: center;
}

div.intro>p {
  font-size: 1.2rem;
}

div.rating>div.card-rating>p {
  font-weight: 700;
}
/* Colors CSS */
body {
  background-color: hsl(0, 0%, 100%);
}

div.intro>h2 {
  color: hsl(300, 43%, 22%);
}

div.intro>p {
  color: hsl(303, 10%, 53%);
}

div.rating>div.card-rating {
  background-color: hsl(300, 24%, 96%);
}

div.testimonial>div.card-testimonial {
  background-color: hsl(300, 43%, 22%);
}

div.testimonial>div.card-testimonial>div.card-testimonial-head>div>h4 {
  color: hsl(300, 24%, 96%);
}

div.testimonial>div.card-testimonial>div.card-testimonial-head>div>h4+h4 {
  color: hsl(333, 80%, 67%);
}

div.testimonial>div.card-testimonial>div.card-testimonial-body>p {
  color: hsl(300, 24%, 96%);
}
/* Layout CSS */
.container {
  width: 88%;
  margin: 0 auto;
  padding: 4rem 0;
}

div.intro,
div.rating,
div.testimonial {
  margin-bottom: 4rem;
}

.card {
  border-radius: 0.5rem;
}

/* Component CSS */
div.intro {
  margin-bottom: 1.5rem;
}
div.intro>p {
  margin: 1.5rem 0 2rem 0;
}

div.rating>div.card-rating {
  padding: 0.75rem 0;
  margin-bottom: 1rem;
}

div.rating>div.card-rating>div.star {
  margin-bottom: 0.5rem;
}

div.testimonial>div.card-testimonial {
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
}

div.testimonial>div.card-testimonial>div.card-testimonial-head {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

div.testimonial>div.card-testimonial>div.card-testimonial-head>img {
  width: 4rem;
  border-radius: 99rem;
  margin-right: 2rem;
}
