/*
Design Specs
Size:
  375px
  1440px
Color:
  Very Dark Magenta: hsl(300, 43%, 22%)
  Soft Pink: hsl(333, 80%, 67%)
  Dark Grayish Magenta: hsl(303, 10%, 53%)
  Light Grayish Magenta: hsl(300, 24%, 96%)
  White: hsl(0, 0%, 100%)
Typography:
  font-family: 'Spartan', sans-serif;
  font-weight: 400, 500, 700;
  1rem = 15px;
*/


/* Structural CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
/* Layout CSS */

.container {
  width: 90%;
  margin: 2rem auto 0 auto;
}

.intro,
.rating,
.user {
  margin-bottom: 2rem;
}
